
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 4px solid black;
}

.enlacesEncabezado {
  list-style: none;
  display: flex;
  gap: 30px;
}

li > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.enlacesEncabezado > li:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.enlacesEncabezado > li > a.active {
  background-color: black;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.hero {
  background-image: url('https://picsum.photos/2000/300');
  background-size: cover;
  background-position: center;
  padding: 50px 40px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.hero button {
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 15px;
  margin: 5px;
}

.hero h2,p {
  background-color: transparent;
  color: rgb(0, 0, 0);
  margin: 5px;
}




